@namespace FeedbackWebApp.Components.Feedback.Forms

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="hnId" @bind="Value" />
    <label for="hnId">Story ID or URL</label>
</div>

@code {

    public string? Value { get; set; }

    public void RefreshUI()
    {
        StateHasChanged();
    }

}