@namespace FeedbackWebApp.Components.Account

<div class="upgrade-prompt">
    <div class="alert alert-warning">
        <span>You have reached your usage limit. Upgrade to unlock more features!</span>
        <button class="btn btn-primary ms-2">Upgrade</button>
    </div>
</div>
